h1{
    color: goldenrod;
    font-style: italic;
}

h3{
    text-decoration: overline;
}

.sheriff

* {box-sizing: border-box}
        
.container {
  width: 100%;
  background-color: #ddd;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

.pubspeak {width: 90%; background-color: #52FFC7;}
.writings {width: 80%; background-color: #7EFCFF;}
.analytics {width: 65%; background-color: #C652FF;}
.C {width: 60%; background-color: #FF5252;}